body{

background:#f4f6f9;
font-family:Arial,sans-serif;
padding:20px;

}

.card{

max-width:700px;
margin:auto;
background:white;
padding:25px;
border-radius:15px;
box-shadow:0 0 15px rgba(0,0,0,.1);

}

.logo{

width:100px;
display:block;
margin:auto;

}

h1{

text-align:center;

}

input{

width:100%;
padding:12px;
margin-top:10px;
margin-bottom:10px;
box-sizing:border-box;

}

button{

width:100%;
padding:12px;
background:#0056d6;
color:white;
border:none;
font-size:16px;
cursor:pointer;

}

.student-photo{

width:150px;
height:150px;
object-fit:cover;
border-radius:50%;
display:block;
margin:auto;

}

table{

width:100%;
border-collapse:collapse;
margin-top:15px;

}

table th,
table td{

border:1px solid #ddd;
padding:10px;

}

.printBtn{

margin-top:15px;
background:green;

}

@media(max-width:600px){

.card{

padding:15px;

}

}
